body {
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    background-color: aliceblue;
    width: 100vw;
}

.content-container {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    background-color: white;
    border-radius: 16px;
    max-width: 250px;
    padding: 16px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.img-placeholder {
    max-height: 250px;
    max-width: 250px;
}

.image {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.content-holder {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    padding-bottom: 16px;
}

.card-title {
    font-size: 1.2em;
    font-weight: 800;
}

.card-text {
    font-size: 0.9em;
    color:gray;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .card-container {
        width: 70%;
    }
}